

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1440px) { 
    body{ min-width: 1000px;}
} 
  
/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    body{min-width: 760px;}
    #wrap{
       width: 90%;
       margin: 0 auto;
    }

    /* 헤더 */
    header .topmenu, header .nav{display: none; }
    header .logo{ text-align: left;}
    header .logo img {
        margin-top: 5px;
        transform : none;
        float: left ;
    }
    .ham_menu{
        display: block;
        /* width:100px; height: 100px; */
        /* position: absolute; */
        /* top:24px ; right : 24px; */
        float: right;
        font-size: 1.5rem;
        padding-top: 24px;
        /* color: white; */
    }

    /* 슬라이드 이미지 영역 */
    .slide_images{
        height: 350px;
    }

    /* 그리드 배너 영역 */
    .grid_banner_wrap{
        height: 140vh;
    }

    .grid_banner_wrap #wrap{
        /* display: block; */
        display: block;
        
    }

    #wrap > div.grid_banner{
        position: relative;
        width:100%;
        height: 30vh;
        margin: 20px auto;
       
    }

    /* 아이템 */
    .item_list .items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 42vh 42vh;
        gap: 2%;
        padding: 80px 0;
        /* animation: reveal 0.5s ease; */
        
    }

    /* 공지사항 / 문의 / 질문과 답변 영역 */

    .board_info {
        padding: 30px;
    }
    .board_info #wrap{
        display: block;
    }

    .board_info #wrap > div{
        padding: 5% 0;
    }

    #wrap > div.notice > table > tbody > tr > td:nth-child(2),
    #wrap > div.qna > table > tbody > tr > td:nth-child(2){
        text-align: right;
    }

    

    .customer{
        border: none;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .onlineCust{
        position: absolute;
        top:35px;
        right:20px;
        text-align: center;
        padding: 10px 0;
    }

} 
 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:767px) {
    body{min-width: 760px;}
}

